#mainInfo{
    border-radius: 192px;
    background-size: cover;
    background-position: 45% 0%;
    height: 384px;
    width: 384px;
    margin: 224px auto 75px;

}

#main{
    width: 100%;
}

#textLayout .blockHeader, #textLayout .blockContent{
    margin: 65px auto;
    padding-left: 0;
    max-width: 545px;
    text-align: center;
}
 #textLayout .blockContent{
    margin-top:500px;
 }

.header {
    width: 100%;
    padding:0 32px;
}
 .content{
    width: 100%;
    padding:0 32px;
 }

 .row.jobBlock{
     flex-direction: column;
 }
.descr{
    width: 100%;
    flex-direction: row;
}






#linkBlock, #mailBlock{
    width: 100%;
    padding:32px;
}