#mainInfo{
    border-radius: 250px;
    background-size: cover;
    background-position: 45% 0%;
    height: 384px;
    width: 384px;
    margin: 224px auto 75px;

}

#main{
    width: 100%;
}

#textLayout .blockHeader, #textLayout .blockContent{
    margin: 65px auto;
    padding-left: 0;
    max-width: 545px;
    text-align: center;
}
 #textLayout .blockContent{
    margin-top:55%;
 }

.header {
    width: 100%;
    padding:0 32px;
}
 .content{
    width: 100%;
    padding:0 32px;
 }

.slider{
    width:100%;
    height: 496px;
 }

.right .descr, .left .descr{
    order: 0;
}
.right .slider, .left .slider{
    order: 1;
}
.descr{
    width: 100%;
    flex-direction: column;
}

.right .descr {
    padding-right: 0;
}
.left .descr {
    padding-left: 0;

}

.controls {
    position: absolute;
    bottom: 0;
}

.left .controls, .right .controls {
    transform: translate(0px, 24px);
    top: auto;
    left: auto;
}

.controls label {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #000;
}

 .row.jobBlock{
     flex-direction: column;
 }

.descr{
    width: 100%;
    flex-direction: column wrap;
}


#linkBlock, #mailBlock{
    width: 100%;
}